.nome{
    display: flex;   
    background-color: rgb(37, 37, 37);
}

.linguagens{
    display: flex;
    background-color: rgb(37, 37, 37);
}

.educacao{
    display: flex;
}

.foto{
    display: flex;
}

